<div class="row">
  <div class="col-md-6">
    <div class="card card-body">
        <h3 class="box-title m-b-0">Perfil del medico</h3>
        <p class="text-muted m-b-30 font-13"> nombre del medico</p>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <form ngNativeValidate #f="ngForm" (ngSubmit)="gaurdarMedico(f)" >
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombre de usuario</label>
                        <input [(ngModel)]="medico.nombre" name="nombre" type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre del medico" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Hospital</label>
                        <select (change)="cambioHospital( $event.target.value)" [(ngModel)]="medico.hospital" name="hospital" id="" class="form-control">
                          <option value="">Seleccion Hospital</option>
                          <option *ngFor="let hos of hospitales" [value]="hos._id">
                            {{hos.nombre}}
                          </option>
                        </select>
                    </div>
        
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                      <i class="fa fa-save"></i>
                      Guardar</button>
                </form>
            </div>
        </div>
    </div>
  </div>

  
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          
          <h4 class="box-title m-b-0">Hospital</h4>

          <img [src]="hospital.img | imagen:'hospital'" class="rounded img-fluid">
        </div>
      </div>
    </div>

    <div class="col-md-3" *ngIf="medico._id">
      <div class="card">
        <div class="card-body">
          <h4 class="box-title m-b-0">Fotografia</h4>
          <img [src]="medico.img | imagen:'hospital'" class="rounded img-fluid">
        </div>
      </div>
    </div>

</div>