<div class="row">
  <div class="col-4">
    <div class="card card-body">
      <h4 class="card-title">Hospitales</h4>

      <table  class="table table-hover" *ngIf="hospitales.length > 0" >
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Nombre</th>
          </tr>
        </thead>
        <tbody *ngFor="let hos of hospitales">
          
          <tr [routerLink]="['/hospitales']" class="pointer"> 
            <td><img [src]="hos.imagen | imagen" class="img-50 img-circle"></td>
            <td>{{hos.nombre}}</td>
  
          </tr>
        </tbody>
      </table>

      <div class="alert alert-info" *ngIf="hospitales.length === 0">
        no hay registros
      </div>
    </div>
  </div>





  <div class="col-4">
    <div class="card card-body">
      <h4 class="card-title">Usuarios</h4>

      <table class="table table-hover" *ngIf="usuarios.length > 0">
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Nombre</th>
          </tr>
        </thead>
        <tbody *ngFor="let usu of usuarios">
          <tr [routerLink]="['/usuarios']" class="pointer">
            <td><img [src]="usu.imagen | imagen" class="img-50 img-circle"></td>
            <td>{{usu.nombre}}</td>
          </tr>
        </tbody>
      </table>

      <div class="alert alert-info" *ngIf="usuarios.length === 0">
        no hay registros
      </div>
    </div>
  </div>







  <div class="col-4">
    <div class="card card-body">
      <h4 class="card-title">Medicos</h4>

      <table class="table table-hover" *ngIf="medicos.length > 0">
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Nombre</th>
          </tr>
        </thead>
        <tbody *ngFor="let med of medicos">
          <tr [routerLink]="['/medico',med._id]" class="poiter">
            <td><img [src]="med.imagen | imagen" class="img-50 img-circle"></td>
            <td>{{med.nombre}}</td>
            
          </tr>
        </tbody>
      </table>
      <div class="alert alert-info" *ngIf="medicos.length === 0">
        no hay registros
      </div>
    </div>
  </div>

</div>